* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', "Lato", sans-serif;
    background-color: black;
}

.background .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/backgroundImage.jpg") center center;
    background-size: cover;
    opacity: .3;
    width: 100%;
    height: 135%;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #41181d;
    border: 0px none #ffffff;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #41181d;
}

::-webkit-scrollbar-thumb:active {
    background: #41181d;
}

::-webkit-scrollbar-track {
    background: #454545;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #454545;
}

::-webkit-scrollbar-track:active {
    background: #454545;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.row {
    margin: 0;
}

#meals:nth-child(2n+1) {
    margin-right: 10vw;
    margin-bottom: 5vw;
}

#meals .boxContent {
    height: 25vh;
    background-color: rgba(74, 88, 89, 0.6);
}

#meals .boxTitle {
    background-color: rgba(42, 43, 43, 0.8);
}

#meals .table {
    background-color: rgba(74, 88, 89, 0.0);
    color: white;
}

#meals th {
    padding: 0 !important;
    text-align: center;

}

.table-title {
    width: 100%;
    height: 100%;
}

.table-title th:last-child {
    letter-spacing: 0.7vw;
    transform: translateX(-15%);
}

.table-title th {
    padding: 0 !important;
    text-align: center;
}

.table td,
.table th {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white 1px solid;
    padding: 0;
    font-size: 1.5vw;
}

/* .table tr{
   border-bottom: white solid 1px;
} */

#panelMainContent {
    padding: 41px 61px;
    margin-bottom: 65px;
}

.boxTitle {
    /* text-transform: uppercase; */
    text-align: center;
    height: 64px;
    border-top-left-radius: 20px;
    /* border-top-right-radius: 20px; */
    color: #FFFFFF;
}

.boxTitle th {
    color: white;
    font-size: 2vw;
    font-family: Lato;
    font-weight: 400;
}

.boxTitle th:nth-child(2){
    float: right;
}

.boxContent {
    background-color: #f1f1f1;
    padding: 10px;
    overflow-y: scroll;
}

.boxContent th {
    font-weight: 500 !important;
    font-size: 2vh;
}

#tableFooter1 {
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: rgba(74, 88, 89, 0.5);
    border-bottom-left-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
   
}

#tableFooter2 {
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: rgba(74, 88, 89, 0.5);
    border-bottom-left-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
   
}
#tableFooter3 {
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: rgba(74, 88, 89, 0.5);
    border-bottom-left-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
   
}
#tableFooter4 {
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: rgba(74, 88, 89, 0.5);
    border-bottom-left-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
   
}

#tableFooter1>button {
    width: 20%;
}

#tableFooter2>button {
    width: 20%;
}

#tableFooter3>button {
    width: 20%;
}

#tableFooter4>button {
    width: 20%;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}
/* _______________________________ */


nav {
    /* Nawigacja u góry strony */
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #C83E4D;
    height: 10vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    /* FlexBox Container do znacznika a */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Logo w nawigacji */
.trainingApp {
    width: 50%;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    text-shadow: 2px 7px 9px #1B1717;
    color: white;
    text-align: center;
}

.trainingApp a {
    color: white;
    text-decoration: none;
}

.trainingApp a:hover {
    color: white;
    text-decoration: none;
}

.navIcon {
    /* Ikony w kontenerze nawigacji */
    height: 100%;
    line-height: 10vh;
    font-size: 300%;
    width: 20%;
    text-align: center;
}

.navIcon a {
    text-shadow: 2px 7px 9px #1B1717;
    color: white;
    text-decoration: none;
}

.navIcon a:hover {
    color: rgba(74, 88, 89);
}


/* Podsumowanie spożytych kcal na dole strony */
aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #C83E4D;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    /* FlexBox Container do znacznika a */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside>a {
    width: 10%;
    height: 100%;
    line-height: 5vh;
    text-decoration: none;
    color: white !important;
    font-size: 3vh;
    font-weight: 500;
}

aside>a:first-of-type {
    font-size: 4vh;
    line-height: 10vh;
    font-weight: 600;
}

main {
    margin-top: 3%;
}

/* Głowny kontener w środku strony obejmujący mniejsze kontenery na posiłki */
/* main {
    position: absolute;
    top: calc(50% + 10vh);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 90%;
    height: 100%;

    /* FlexBox Container dla section */
/* display: flex;
    flex-flow: row wrap; */

/* } */

/* Section reprezentuje mały kontener na np. obiad w środku maina */


section>header {
    height: 10%;
}

section>header>a {
    position: relative;
    float: left;
    height: 100%;
    width: 75%;
    text-align: center;
    font-size: 200%;
    color: white;
}

section {
    color: white;
}

/*  Pojedyńczy produkt który wchodzi w skład posiłku */
.product {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(218, 195, 198);

}

.productNutritionalProperties {
    position: relative;
    float: right;
    width: 25%;
    text-align: center;
    background-color: pink;
}

ul.meal {
    list-style-position: inside;
}

ul {

    font-size: 2vh;
    font-weight: 200;
    list-style-type: none;
}


/* ------------------------------------------- */

button {
    border: none;
    padding: 0.5vw;
    font-size: 1vw;
    background-color: #c83e4d;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

button:hover {
    background-color: #a52534;
}

button:active {
    background-color: #da1e34;
}

select {
    /* margin-left: 25px; */
    padding: 4px;
    border: none;
    font-size: 1.5vw;
    background-color: #4A5859;
    color: white;
    width: 350px;
    text-align-last: center;
}

aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #C83E4D;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;


    /*FlexBox container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


aside>section {
    position: relative;
    float: left;
    height: 50%;
    font-size: 200%;

}

aside th {
    padding: 0vw 1vw;
}

.close{
    cursor: pointer;
    color:#C83E4D;
    text-shadow: none;
}

.none{
    display: none;
}

.close:active{
    color:gray
}

.content2{
    width: 100%;
    display: flex; /* or inline-flex */
    justify-content: space-between;
    margin-top: 8vw;
}
  
#dateChanger{
    display: inline;
    border: none;
    cursor: pointer;
}

.left{
    float: left;
    
}
#today{
    font-size: 2.5vw;
    text-align: center;
    color:white;
}
.right{
    float:right;
}


