* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', "Lato", sans-serif;
    background-color: black;
}

.background .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/backgroundImage.jpg") center center;
    background-size: cover;
    opacity: .3;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #c83e4d;
    border: 0px none #ffffff;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c83e4d;
}

::-webkit-scrollbar-thumb:active {
    background: #c83e4d;
}

::-webkit-scrollbar-track {
    background: #454545;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #454545;
}

::-webkit-scrollbar-track:active {
    background: #454545;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

nav {
    /* Nawigacja u góry strony */
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #C83E4D;
    height: 10vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    /* FlexBox Container do znacznika a */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Logo w nawigacji */
.trainingApp {
    width: 50%;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    text-shadow: 2px 7px 9px #1B1717;
    color: white;
    text-align: center;
}

.trainingApp a {
    color: white;
    text-decoration: none;
}

.trainingApp a:hover {
    color: white;
    text-decoration: none;
}

.navIcon {
    /* Ikony w kontenerze nawigacji */
    height: 100%;
    line-height: 10vh;
    font-size: 300%;
    width: 20%;
    text-align: center;
}

.navIcon a {
    text-shadow: 2px 7px 9px #1B1717;
    color: white;
    text-decoration: none;
}

.navIcon a:hover {
    color: rgba(74, 88, 89);
}


/* Podsumowanie spożytych kcal na dole strony */
aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #C83E4D;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;


    /*FlexBox container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}


aside>section {
    position: relative;
    float: left;
    height: 50%;
    font-size: 200%;

}

main {
    width: 100%;
    height: 100%;
    position: absolute;

    /* FlexBox container dla elementów które pojawią się w ustawieniach
    np. ustawienia profilu, pomiary ... */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 40%;
    height: 50%;
    /* FlexBox Container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 100%;
    height: 80%;
}

.settingsProfileBox {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: gray;
    color: white;
    font-weight: 500;
    font-size: 25px;
}

.settingsMeasurementsBox {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: gray;

}

.content>header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background-color: #454545;
    height: 8vh;
    line-height: 5vh;
    text-align: center;
    font-size: 3.5vh;
    color: white;
}

header>p {
    font-weight: 700;
    margin-top: 10px;
}

#measurements>table {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1vw;
}

#measurements>table>tr,
td {
    padding-bottom: solid 2 px white;
    width: 50%;
    padding: 1vw;
}

#measurements th {
    padding: 1vw;
    border-bottom: 0.05vw solid white;
}

#profileSettings {
    text-align: center;
}

#demands>tr, td, th{
    padding-left: 20px;
    padding-right: 20px;
}

#addNewMeasurement {
    width: 20%;
    height: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* The Modal (background) */
.modal {
    color: white;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #454545;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
}

/* The Close Buttons */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(201, 2, 2);
    text-decoration: none;
    cursor: pointer;
}

.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: rgb(201, 2, 2);
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    font-size: 1vw;
    text-align: center;
    margin-bottom: 50px;
}

/* Update buttons */
.Aktualizuj {
    float: right;    
    padding: 1vw;
    font-size: 1vw;
    background-color: #c83e4d;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.Aktualizuj:hover {
    background-color: #a52534;
}

.Aktualizuj:active {
    background-color: #da1e34;
}

.Aktualizuj1 {
    float: right;
    padding: 1vw;
    font-size: 2vh;
    background-color: #c83e4d;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.Aktualizuj1:hover {
    background-color: #a52534;
}

.Aktualizuj1:active {
    background-color: #da1e34;
}

/* Add buttons */
.dodaj {
    float: right;
    padding: 1vw;
    background-color: #c83e4d;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.dodaj:hover {
    background-color: #a52534;
}

.dodaj:active {
    background-color: #da1e34;
}

.dodaj1 {
    float: right;
    padding: 1vw;
    font-size: 2vh;
    background-color: #c83e4d;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.dodaj1:hover {
    background-color: #a52534;
}

.dodaj1:active {
    background-color: #da1e34;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#settingsProfilTable {
    font-size: 1.2vw;
    width: 100%;
}

#settingsProfilTable td{
    border-bottom: 1px solid white;
    padding: 20px;
}

#measurementTable td{
    border-bottom: 1px solid white;
    padding: 20px;
}

#settingsProfilTable td:nth-child(3n+0){
    font-weight: 600;
}

.settingsMeasurementsBox>table>tr,
td {
    font-size: 150%;
    color: White;
    border-bottom: 2px solid white;
}

#measurementTable td:nth-child(4n+0){
    font-weight: 600;
}

#demands>tr,
td,
th {
    text-align: center;
    padding-right: 5%;
    height: 50%;
    width: 20%;
    font-size: 100%;
    color: White;
    border: 0;
}